body{
    text-align: center;
    background-color: azure;
}
button{
   margin: 5px;
   padding: 10px;
}

#first{
    background-color: blue;
}

#second{
    background-color: red;
}

#third{
    background-color: green;
}

#forth{
    background-color: yellow;
}

#list-data li{
    display: inline-block;
    max-width: 200px;
}

li img{
    max-width: 100%;
    vertical-align: middle;
}